/** 
Escribir el CSS necesario aqui
*/
p {
	width: 300px;
	border: 1px dashed black;
	background: white;
	margin: 20px 30px;
	text-align: center;
	padding: 5px;
}
div {
    width: 500px;
	margin: 50px;
	background: #FE7567;
	border: 10px solid #6B29A6;
}